/site
.DS_Store
grab.js
*.swp
*-venv
*-venv-win
/src/pract-wk3/__pycache__
/src/pract-wk3/data/__pycache__
src/pract-wk3/.coverage
src/pract-wk3/__pycache__/test_data.cpython-38-pytest-6.2.3.pyc
*.pyc
.coverage
