.formlabel {
    width: 200px;
    float: left;
}

.forminput {
    float: left;
}

.formgroup {
    padding-top: 10px;
    clear: left;
}

.votecontainer {
    display: flex;
    flex-direction: row;
}

.votecontainer div {
    width: 33%;
}